body {
background: black;
margin-top:175px; }

*, body, img { cursor:url(https://secure.static.tumblr.com/vmteopo/Eggo12azo/small_white_cursor.png), auto;}

::-moz-selection { color: #e5e1e1; background:#c5bcd1;}
::selection { color: #615273; background:#c5bcd1;}

@font-face {
font-family: 'Highman';
font-style: normal;
font-weight: normal;
src: url('https://dl.dropbox.com/s/9w1emtijxfmum1e/Highman.ttf') format('woff');}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 20px;
  border: 3px solid blak;
}

.baul-ollie {
width: 900px;
height: 500px;
background: #0B0B0B;
margin: auto;
position: relative;
border:1px solid #222222;
overflow: auto;
outline: 1px solid #222222; 
outline-offset: -20px;
position: relative;}

.baul-img {
width: 400px;
height: 462px;
margin-top: 19px;
margin-left: 99px;
background-image: url(https://xatimg.com/image/EnExYCg8m0Xl.png);
background-position: center;
background-size: cover;
position: absolute;
border-right: 1px solid #615273;}

.baul-oll1 {
font-family: 'Highman';
color: transparent;
font-size: 40px;
position: absolute;
transform: rotate(-90deg);
top: 230px;
left: -150px;
line-height: 40px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #B6B6B6;}

.baul-oll2 {
font-family: 'Bebas Neue', cursive;
font-size: 11px;
position: absolute;
color: #000;
transform: rotate(-90deg);
top: 245px;
left: -5px;
background: rgba(97, 82, 115, 0.8);
padding: 5px;
letter-spacing: 5px;
line-height: 10px;}

.baul-img2 {
background-image: url(https://xatimg.com/image/QFmQn8HDGVi6.png);
background-blend-mode: multiply;
background-color: #615273;
width: 325px;
height: 100px;
position: absolute;
left: 0px;
top: 15px;
border: 4px solid #615273;
background-position: top;
background-size: cover;}

.ollie-links {
width: auto;
height: 300px;
display: flex;
flex-direction: column;
position: absolute;
left: 483px;
top:155px;
row-gap: 12px;}

.ollie-links a{
font-size: 14px;
background: #615273;
color: #B6B6B6;
padding: 8px;
outline: 1px solid #615273; 
outline-offset: -20px;
line-height: 14px;
transition: all 0.6s ease-in-out;}

.ollie-links a:hover{
background: #B6B6B6;
color: #615273;
transition: all 0.6s ease-in-out;}

.ollie-bx {
width: 300px;
height: 150px;
background: #0B0B0B;
position: absolute;
top: 50px;
left: 545px;
}

.ollie-bx i{
color: #615273;
font-size: 60px;
font-weight: 300;
opacity: 0.3;}

.ollie-bxt {
color: #dcdcdc;
width: 250px;
margin-left: 25px;
font-family: 'Bebas Neue', cursive;
font-size: 12px;
letter-spacing: 3px;
text-align: justify;
opacity: 0.7;
margin-top: -35px;}

.baul-info {
width: 310px;
height: 135px;
position: absolute;
left: 530px;
top: 180px;
border-top: 1px solid #615273;
border-bottom: 1px solid #615273;
padding-top: 15px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-between;
align-content: flex-start;
row-gap: 20px;
column-gap: 0px;
padding-left: 20px;}

.baul-infc {
width: 26%;
height: 10px;
padding: 10px;
color: #B6B6B6;
font-family: 'Bebas Neue', cursive;
font-size: 12px;
letter-spacing:1px;
line-height:10px;
}

.baul-infc i{
font-size: 11px;
padding-right: 5px;
color: #615273;
line-height: 11px;}

.baul-infc h1{
color: #615273;
font-family: 'Highman';
font-size: 16px;
letter-spacing: 2px;
line-height: 8px;}

.baul-song {
width: 310px;
height: 120px;
position: absolute;
left: 530px;
top: 340px;
padding-top: 15px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-between;
align-content: flex-start;
row-gap: 20px;
column-gap: 0px;
padding-left: 20px;}

.otr-d {
color: #B6B6B6;
width: 170px;
margin-top:3px;
margin-left: 2px;
font-family: 'Bebas Neue', cursive;
font-size: 10px;
letter-spacing: 1px;
line-height: 15px;
text-align: justify;}

.otr-d b{ 
color: #615273;}

/*-------MUSIC PLAYER BY GLENTHEMES-------*/
:root {
   --Circle-Size:38px;
   --Progress-Border-Size:2px;
   --Progress-Empty:#615273;
   --Progress-Fill:#000;
   --Player-Background:#000;
   --Play-Pause-Buttons-Size:17px;
   --Play-Pause-Buttons-Color:#615273;
   --Player-Text-Margin:16px;

   --Song-Name-Font-Size:1px;
   --Song-Name-Color:#000;

   --Artist-Name-Font-Size:1px;
   --Artist-Name-Color:#000;
}

#glenplayer07 {
   position:fixed;
   bottom:0;margin-bottom:30px;
   left:0;margin-left:30px;
   z-index:99;
}

.flamingo {
   display:flex;
   align-items:center;
}

.circleofdeath {
   width:var(--Circle-Size);
   height:var(--Circle-Size);
   border-radius:100%;
   overflow:hidden;
}

.tinfoil {
   width:var(--Circle-Size);
   height:var(--Circle-Size);
   background:var(--Progress-Empty);
   border-radius:100%;
}

.oven {
   background:var(--Progress-Fill);
}

.oliveoil {
   width:100%;
   height:100%;
}

.crust {
   position:absolute;
   top:0;
   display:flex;
   align-items:center;
   justify-content:center;
   width:var(--Circle-Size);
   height:var(--Circle-Size);
}

.cherry {
   display:flex;
   align-items:center;
   justify-content:center;
   width:calc(var(--Circle-Size) - (var(--Progress-Border-Size) * 2));
   height:calc(var(--Circle-Size) - (var(--Progress-Border-Size) * 2));
   background:var(--Player-Background);
   border-radius:100%;
   cursor:pointer;
   z-index:1;
}

.music-controls {display:flex;align-items:center}

.music-controls .material-icons {
   font-size:var(--Play-Pause-Buttons-Size);
   color:var(--Play-Pause-Buttons-Color);
}

.pausee {display:none;}

.beff {display:none;}
.aff {display:block;}

.music-info {
   margin-left:var(--Player-Text-Margin);
   line-height:1em;
}

.song-name {
   font-family:ABeeZee;
   font-size:var(--Song-Name-Font-Size);
   text-transform:uppercase;
   letter-spacing:1.5px;
   color:var(--Song-Name-Color);
}

.artist-name {
   margin-top:3px;
   font-family:karla;
   font-size:var(--Artist-Name-Font-Size);
   letter-spacing:0.3px;
   color:var(--Artist-Name-Color);
}
    
.ollie-cr a {
  float:right; text-align:left; font-family:calibri; text-decoration:none;
    font-size:11px;
    text-transform:uppercase;
    color:#615273;
    letter-spacing:1px; 
     -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    margin-top: -17px;
}
 
a:hover {
    letter-spacing:1px;
    color:#bbb;
}